@use 'tokens' as *;
@use 'media' as *;
@use 'typography';

.article {
  background: $color-white;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 40px 40px 0px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  overflow: hidden;

  @include from-tablet {
    flex-direction: row;
  }

  &__header {
    flex: 0 0 auto;
    aspect-ratio: 327 / 200;
    min-height: 8.75rem;
    max-height: 13.75rem;
    overflow: hidden;
    margin-bottom: $space-400;

    @include from-tablet {
      aspect-ratio: 229 / 346;
      margin-bottom: 0;
      min-height: unset;
      max-height: unset;
      flex: 0 0 clamp(14.3125rem, 10.313rem + 8.333vw, 17.8125rem);
    }

    @include from-desktop {
      aspect-ratio: 285 / 280;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include from-desktop {
      /* Intentional value to match Figma layout */
      object-position: 0% 50%;
    }
  }

  &__body {
    /* safety net */
    min-width: 0;

    @include from-tablet {
      align-self: center;
      flex: 1 1 0;
    }

    @include from-tablet {
      padding-block: $space-300;
    }
  }

  @mixin body-margin-inline {
    margin-inline: 1.875rem;

    @include from-tablet {
      margin-inline: $space-400 2.25rem;
    }

    @include from-desktop {
      margin-inline: $space-500;
    }
  }

  &__content {
    @include body-margin-inline;
  }

  &__title {
    @extend %text-preset-1;
    color: $color-grey-900;
    margin-bottom: $space-300;
  }

  &__description {
    @extend %text-preset-2-medium;
    color: $color-grey-500;
  }

  &__footer {
    position: relative;
  }

  &__byline {
    display: flex;
    @include body-margin-inline;
    align-items: center;
    flex-wrap: wrap;
    row-gap: $space-200;
    margin-block: $space-600 1.125rem;

    @include from-tablet {
      margin-block: $space-300 0;
    }
  }

  &__byline-avatar {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: $space-200;
  }

  &__byline-meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__byline-author {
    @extend %text-preset-2-bold;
    color: $color-grey-900;
  }

  &__byline-date {
    @extend %text-preset-2-medium;
    color: $color-grey-400;
  }

  &__byline-share-btn {
    width: $share-button-size;
    height: $share-button-size;
    background: $color-grey-200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;

    svg {
      width: 0.9375rem;
      aspect-ratio: 15/13;
      margin-left: 0.0625rem;
      color: $color-grey-500;
    }

    .article.is-share-active & {
      background: $color-grey-500;
      svg {
        color: $color-white;
      }
    }

    @include from-tablet {
      /* Intentional value to match Figma layout */
      margin-right: 0.3125rem;
    }

    @include from-desktop {
      /* Intentional value to match Figma layout */
      margin-right: 0.1875rem;
    }
  }

  /* =================================
     Article share layout orchestration
     ================================= */
  .share--inline {
    display: none;
  }

  &.is-share-active {
    .article__byline {
      display: none;
    }
    .share--inline {
      display: flex;
    }

    @include from-tablet {
      .article__byline {
        display: flex;
      }
      .share--inline {
        display: none;
      }
    }
  }
}
