@use 'tokens' as *;
@use 'media' as *;
@use 'typography';

.share {
  display: flex;
  align-items: center;
  background: $color-grey-900;
  flex-wrap: wrap;
  row-gap: $space-200;

  &--inline {
    padding: 1.5rem 1.875rem;
    margin-top: 1.625rem;
  }

  &__label {
    @extend .text-preset-3;
    color: $color-grey-400;
    text-transform: uppercase;
    margin-right: $space-300;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: $space-200;
    flex: 1 0 auto;
    margin-right: $space-200;
  }

  &__item {
    img {
      width: 1.25rem;
    }
  }
}
